body {
    background-color: rgb(192, 192, 211);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.todo.completed {
    opacity: .6;
    text-decoration: line-through;
}

.todo {
    border-radius: 5px;
    display: flex;
    gap: 20px;
}

.todo.priority-low {
    border-left: medium solid blue;
    padding-left: 5px;
}

.todo.priority-medium {
    border-left: medium solid orange;
    padding-left: 5px;
}

.todo.priority-high {
    border-left: medium solid red;
    padding-left: 5px;
}

#app {
    display: grid;
    grid-template-columns: 1fr 3fr 0;
}

#app.details-open {
    grid-template-columns: 1fr 3fr 1fr;
}

#todoDetails {
    overflow: hidden;
    background-color: aliceblue;
    border-left: 5px solid black;
    padding: 10px;
}