body {
    background-color: rgb(192, 192, 211);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.todo.completed {
    opacity: .6;
    text-decoration: line-through;
}

.todo {
    border-radius: 5px;
    display: flex;
    gap: 20px;
}

.todo.priority-low {
    border-left: medium solid blue;
    padding-left: 5px;
}

.todo.priority-medium {
    border-left: medium solid orange;
    padding-left: 5px;
}

.todo.priority-high {
    border-left: medium solid red;
    padding-left: 5px;
}

#app {
    display: grid;
    grid-template-columns: minmax(220px, 260px) 1fr 0;
}

#app.details-open {
    grid-template-columns: minmax(220px, 260px) 1fr minmax(320px, 380px);
}

#todoDetails {
    overflow: hidden;
    background-color: aliceblue;

}

#app.details-open #todoDetails {
    border-left: 5px solid black;
    padding: 10px;
}

#activeTodoList {
    display: grid;
    justify-content: center;
}

#projectSidebar {
    background-color: aliceblue;
    border-right: 5px solid black;
    padding: 10px;
    display: grid;
}

.todoListTitle, .title{
    font-weight: 600;
    font-size: x-large;
}

#backdrop {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    inset: 0;
    z-index: 1.5;
}

@media (max-width: 800px) {
    #todoDetails {
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        width: min(380px, 90vw);
        transform: translateX(100%);
        transition: transform 200ms ease;
    }
    #app.details-open #todoDetails {
        transform: translateX(0);
        z-index: 2;
    }
    #app.deatils-open #backdrop {
        opacity: 1;
        pointer-events: auto;
    }

}
